body {
    display: flex;
    flex-flow: column;
    height: 100vh;
    overflow: hidden;
}
header {
    flex: 0 50px;
    display:flex;
}
nav {
    flex: 0 50px;    
    display: flex;
    align-content: center;
}

header > #menu:focus ~ aside {
    left:0px;
}

aside {
    position: absolute;
    z-index: 1000;
    width : 200px;
    height: 100vh;
    top: 0px;
    left: -220px;
        
    transition: left 0.75s;
    transition-timing-function: initial;
    transition-delay: initial;
}

aside:hover {
    left:0px;
}

main {
    flex: 1;
    order: 3;    
    display: flex;
    overflow: hidden;
    padding: 5px;
}

section {
    flex: none;
    width:0px;
    overflow: hidden;
    transform:translateZ(0);
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transition: width 0.75s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
}
section > * {
    margin : 5px;
    width : 92vw;
}
section:target {
    width:100%;
    overflow-y: auto;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
}

@media all and (max-width:599px) {
    nav {
        flex-direction:row;
    }
    nav hr {
        display: none;
    }
    nav * {
        flex:1 0 100px;
    }
}

@media all and (min-width:600px) {
    body {
        flex-wrap : wrap;
        align-content: flex-start;
    }
    header {
        flex: 0 65px;
        order: 2;
        width: calc(100% - 60px);
    }
    nav {
        flex: 0 100%;
        order:1;
        width:60px;
        transition: width .25s;
        transition-timing-function: initial;
        transition-delay: initial;
        flex-direction:column;
        justify-content: flex-start;
    }
    nav hr {
        display: block;
        flex: none;
    }
    nav * {
        line-height: 1.1em;
        flex:none;
    }
    section > * {
        margin : 5px;
        width : calc(96vw - 60px);
    }
}
@media all and (min-width:1000px) {
    header {
        width: calc(100% - 200px);
    }
    nav {
        width:200px;
    }
    section > * {
        margin : 5px;
        width : calc(96vw - 200px);
    }
}